@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Futura BdCn BT";
  src: url("../public/FuturaBT-BoldCondensed.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Futura";
  src: url("../public/Futura-Bold.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Sitka Banner";
  src: url("../public/SitkaBanner.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica";
  src: url("../public/Helvetica.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica";
  src: url("../public/Helvetica-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("../public/Poppins-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@layer components {
  path svg {
    @apply fill-current;
  }
  .header {
    @apply relative z-20 w-full h-[3.75rem] lg:h-[8.688rem] flex flex-row justify-between items-center bg-redPrimary drop-shadow-md;
  }
  .nav {
    @apply h-screen w-screen fixed top-0 flex flex-row transition-all duration-200 ease-out lg:h-full lg:w-full lg:relative;
  }
  footer {
    @apply w-full flex flex-col md:flex-row md:justify-between bg-[#2B2B33] px-[30px] pt-20 space-y-[36px] lg:space-y-0 pb-12 lg:pb-16 lg:px-[10rem] xl:px-[14rem];
  }
  footer > div > div {
    @apply font-helvetica font-normal text-white text-base text-left flex flex-col space-y-[27px];
  }
  .dropdown {
    @apply space-y-[24px] lg:space-y-[46px] lg:min-w-[313px] flex flex-col justify-center lg:bg-redSecondary list-disc px-4 lg:py-8 lg:list-none overflow-hidden transition-all duration-200;
  }

  .dropdown-submenu {
    @apply lg:-right-[calc(100%_-_16px)] lg:absolute;
  }
  .modal-container {
    @apply h-full w-full absolute inset-0 flex items-center justify-center bg-black/50 z-30 px-[30px] pt-16 pb-5;
  }
  .modal {
    @apply bg-[#EEEEEE] w-full md:max-w-[530px] py-6 text-center font-poppins font-semibold text-lg relative;
  }
  .participation-form {
    @apply w-full flex flex-col px-[30px];
  }
  .participation-form label {
    @apply text-black font-helvetica text-xl font-normal mb-1 ml-[1px];
  }
  .participation-form input {
    @apply w-full h-[3.188rem] text-sm font-helvetica text-black font-bold border-gray-300 border-[1px] pl-2 focus:border-redPrimary focus:ring-redPrimary;
  }
  .input-error {
    @apply font-poppins font-normal text-[15px] lg:text-base text-[#D91010] ml-3;
  }
  .admin-form {
    @apply bg-white w-full min-h-[333px] mt-[38%] flex flex-col items-center pb-7 pt-5 lg:pt-8 lg:pb-11 px-6 md:max-w-[562px] lg:min-h-[561px] md:mt-[14%] xl:mt-[8%] mx-auto;
  }
  .admin-form input {
    @apply w-full h-[51px] lg:h-[87px] lg:text-3xl text-sm font-helvetica text-black font-bold border-[#D1D1D1] border-[1px] pl-2 lg:pl-7 focus:border-black focus:ring-black;
  }
}
