@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "helvetica";
  src: url("../public/helvetica.ttf");
  font-weight: normal;
}
@font-face {
  font-family: "helvetica";
  src: url("../public/helvetica-bold.ttf");
  font-weight: bold;
}
@font-face {
  font-family: "futura";
  src: url("../public/futura.ttf");
  font-weight: normal;
}
@font-face {
  font-family: "futura";
  src: url("../public/futura-bold.ttf");
  font-weight: bold;
}
@font-face {
  font-family: "sitka";
  src: url("../public/Sitka-Banner.ttf");
  font-weight: normal;
}
@font-face {
  font-family: "poppins";
  src: url("../public/Poppins-SemiBold.otf");
}
